			a:link {color:#FFFFFF;}
			a:visited {color:#FFFFFF;}
			a:hover {color:#E8E8FF;}
			a:active {color:#FFFFFF;}
			a:link {text-decoration:none;}
			a:visited {text-decoration:none;}
			a:hover {text-decoration:none;}
			a:active {text-decoration:none;}
			a.special:link{color:#949494;}
			a.special:visited{color:#949494;}
			a.special:hover{color:#59C4C5;}
			a.special:active{color:#949494;}
			a.special:link{text-decoration:none;}
			a.special:visited{text-decoration:none;}
			a.special:hover{text-decoration:none;}
			a.special:active{text-decoration:none;}
			a.bg-link:link{color:#59C4C5;}
			a.bg-link:visited{color:#59C4C5;}
			a.bg-link:hover{color:#949494;}
			a.bg-link:active{color:#59C4C5;}
			a.bg-link:link{text-decoration:none;}
			a.bg-link:visited{text-decoration:none;}
			a.bg-link:hover{text-decoration:none;}
			a.bg-link:active{text-decoration:none;}
			body {
				background-color: #E1E2E1;
				font-family: Calibri, Arial;
			}
			.nav-div {
				width: 100%;
				padding-top: 7px;
				padding-bottom: 7px;
				background-color: #59C4C5;
			}
			.nav-div:hover {
				background-color: #59C4C5;
			}
			.table-block-large {
				text-align: center;
				width: 15%;
			}
			.table-block-medium {
				width: 4%;
			}
			.table-block-small {
				width: 2%;
			}
			.top {
				box-shadow: 0px 2px 4px #888888;
				background-color: #59C4C5;
				font-size: 1.5em;
				line-height: 1.5em;
				color: #FFFFFF;
				width: 100%;
				text-align: center;
			}
			.white-box {
				box-shadow: 0px 2px 4px #888888;
				background-color: white;
				width: 100%;
				text-align: center;
			}
			.padder {
				padding-top: 20px;
				padding-right: 20px;
				padding-bottom: 20px;
				padding-left: 20px;
			}
			.circle{
				font-size: 16px;
				color: #FFFFFF;
				background-color: #59C4C5;
				text-align: center;
				width: 100px;
				height: 100px;
				padding: 0px 0 0px 0;
				-webkit-border-radius: 50%;
				border-radius: 50%;
			}
			.fill-div {
				width: 100%;
				height: 100%;
				border-bottom: 1px #FFFFFF solid;
			}
			.fill-div:hover {
				border-bottom: 1px #E1E2E1 solid;
			}
			.fill-div:active {
				border-bottom: 1px #FFFFFF solid;
			}
			h1 {
				font-size: 2em;
				line-height: .2em;
				color: #5E6B88;
			}
			h2 {
				font-size: 1.5em;
				line-height: .2em;
				color: #FFFFFF;
			}
			h3 {
				font-size: 1.5em;
				line-height: .1em;
				color: #5E6B88;
			}