<footer class="center">
    <a href="https://payravi.xyz/@kevin" title="Kevin's Mastodon profile" rel="me"><i class="fa-brands fa-mastodon fa-2x" aria-hidden="true"></i><span class="visible-hidden">Mastodon</span></a>
    <a href="https://twitter.com/KevinPayravi" title="Kevin's Twitter profile"><i class="fa-brands fa-twitter fa-2x" aria-hidden="true"></i><span class="visible-hidden">Twitter</span></a>
    <a href="https://www.linkedin.com/in/kevinpayravi/" title="Kevin's LinkedIn profile"><i class="fa-brands fa-linkedin fa-2x" aria-hidden="true"></i><span class="visible-hidden">LinkedIn</span></a>
    <a href="https://en.wikipedia.org/wiki/User:SuperHamster" title="Kevin's Wikipedia profile"><i class="fa-brands fa-wikipedia-w fa-2x" aria-hidden="true"></i><span class="visible-hidden">Wikipedia</span></a>
    <a href="https://github.com/KevinPayravi" title="Kevin's GitHub profile"><i class="fa-brands fa-github fa-2x" aria-hidden="true"></i><span class="visible-hidden">GitHub</span></a>
</footer>