<nav>
  <div class="nav-name">Kevin Payravi</div>
  <a class="nav-link {{HOME_ACTIVE}}" href="https://kevin.payravi.dev/">Home</a>
  <a class="nav-link {{ABOUT_ACTIVE}}" href="{{BASE_PATH}}about/">About</a>
  <a class="nav-link {{CV_ACTIVE}}" href="{{BASE_PATH}}cv/">CV</a>
  <a class="nav-link {{PORTFOLIO_ACTIVE}}" href="{{BASE_PATH}}portfolio/"
    >Projects</a
  >
  <a class="nav-link {{RESOURCES_ACTIVE}}" href="{{BASE_PATH}}resources/"
    >Resources</a
  >
  <a class="nav-link {{CONTACT_ACTIVE}}" href="{{BASE_PATH}}contact/"
    >Contact</a
  >
  <a class="nav-link" href="https://blog.payravi.dev/" target="_blank"
    >Blog <i class="fa fa-external-link fa-1x" aria-hidden="true"></i
    ><span class="visible-hidden">(opens in a new tab)</span></a
  >
</nav>
