<nav>
    <div class="nav-link {{HOME_ACTIVE}}"><a href="https://kevin.payravi.dev/"><b>Home</b></a></div>
    <div class="nav-link {{ABOUT_ACTIVE}}"><a href="{{BASE_PATH}}about/"><b>About</b></a></div>
    <div class="nav-link {{CV_ACTIVE}}"><a href="{{BASE_PATH}}cv/"><b>CV</b></a></div>
    <div class="nav-link {{PORTFOLIO_ACTIVE}}"><a href="{{BASE_PATH}}portfolio/"><b>Portfolio</b></a></div>
    <div class="nav-link {{RESOURCES_ACTIVE}}"><a href="{{BASE_PATH}}resources/"><b>Resources</b></a></div>
    <div class="nav-link {{CONTACT_ACTIVE}}"><a href="{{BASE_PATH}}contact/"><b>Contact</b></a></div>
    <div class="nav-link"><a href="https://blog.payravi.dev/" target="_blank"><b>Blog <i class="fa fa-external-link fa-1x"></i></b></a></div>
</nav>